{{/* Display author list. */}}



{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- if and $profile_page $link_authors -}}
        <a href="{{$profile_page.RelPermalink}}">{{$name | replaceRE "Stewart Jamieson" "**Stewart Jamieson**" | markdownify}}</a>
      {{- else -}}
        {{$name | replaceRE "Stewart Jamieson" "**Stewart Jamieson**" | markdownify}}
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}

{{ if .Params.publication }}
<div class="pub-publication">
{{ if .Params.publication_short }}
	{{ .Params.publication_short | markdownify }}
{{ else }}
	{{ .Params.publication | markdownify }}
{{ end }}
</div>
{{ end }}

{{ if .Params.award }}
    <div class="awards">{{ .Params.award }}</div>
{{ end }}
